<!DOCTYPE html>
<html>
<head>
  <title>Meeting Room Reservation</title>
</head>
<body>
  <h1>Welcome to Meeting Room Reservation</h1>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
  <a href="/rooms">View Rooms</a>
  <a href="/reservations">My reservation</a>
</body>
</html>
